trunk/webservice-ss3/WebRoot/WEB-INF/wsdl/LogInfoServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.loginfo.blog.way.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LogInfoServiceService" targetNamespace="http://service.loginfo.blog.way.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.loginfo.blog.way.com/" schemaLocation="LogInfoServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="save">
    <part element="tns:save" name="parameters"/>
  </message>
  <message name="saveResponse">
    <part element="tns:saveResponse" name="parameters"/>
  </message>
  <message name="getUserAttentionData">
    <part element="tns:getUserAttentionData" name="parameters"/>
  </message>
  <message name="getUserAttentionDataResponse">
    <part element="tns:getUserAttentionDataResponse" name="parameters"/>
  </message>
  <message name="getRecoreCount">
    <part element="tns:getRecoreCount" name="parameters"/>
  </message>
  <message name="getRecoreCountResponse">
    <part element="tns:getRecoreCountResponse" name="parameters"/>
  </message>
  <message name="getLogInfoById">
    <part element="tns:getLogInfoById" name="parameters"/>
  </message>
  <message name="getLogInfoByIdResponse">
    <part element="tns:getLogInfoByIdResponse" name="parameters"/>
  </message>
  <portType name="LogInfoServiceDelegate">
    <operation name="save">
      <input message="tns:save"/>
      <output message="tns:saveResponse"/>
    </operation>
    <operation name="getUserAttentionData">
      <input message="tns:getUserAttentionData"/>
      <output message="tns:getUserAttentionDataResponse"/>
    </operation>
    <operation name="getRecoreCount">
      <input message="tns:getRecoreCount"/>
      <output message="tns:getRecoreCountResponse"/>
    </operation>
    <operation name="getLogInfoById">
      <input message="tns:getLogInfoById"/>
      <output message="tns:getLogInfoByIdResponse"/>
    </operation>
  </portType>
  <binding name="LogInfoServicePortBinding" type="tns:LogInfoServiceDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="save">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getUserAttentionData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRecoreCount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLogInfoById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="LogInfoServiceService">
    <port binding="tns:LogInfoServicePortBinding" name="LogInfoServicePort">
      <soap:address location="http://localhost:8080/webservice-ss3/LogInfoServicePort"/>
    </port>
  </service>
</definitions>
